# Assignment 2

## Part I: List and Loops

### Question 1: Create a list with the names of every planet in the solar system (in order)

In [10]:
planetlist=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune']
print(planetlist)
type(planetlist)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

list

### Question 2: Have Python tell you how many planets there are by examining your list

In [11]:
len(planetlist)

8

### Question 3: Use slicing to display the first four planets (the rocky planets)

In [12]:
planetlist[:4]

['Mercury', 'Venus', 'Earth', 'Mars']

### Question 4: Iterate through your planets and print the planet name only if it has an s at the end

In [18]:
for i in range(len(planetlist)):
    planetstring=planetlist[i]
    if planetstring[-1] == 's':
        print(planetstring)

Venus
Mars
Uranus

## Part II: Dictionaries

### Question 1: Now create a dictionary that maps each planet name to its mass

In [30]:
planetmass={'Mercury':0.33,'Venus':4.87,'Earth':5.97,'Mars':0.642,'Jupiter':1898,'Saturn':568,'Uranus':86.8,'Neptune':102}

### Question 2: Use your dictionary to look up Earth’s mass

In [36]:
print('Earth Mass: '+str(planetmass['Earth'])+'*10^24')

Earth Mass: 5.97*10^24

### Question 3: Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg

In [45]:
for planet, mass in planetmass.items():
    if mass > 100:
        print(planet)

Jupiter
Saturn
Neptune

In [47]:
planetmass['Pluto']=0.0130

print(planetmass)

{'Mercury': 0.33, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102, 'Pluto': 0.013}

## Part III: Functions

### Question 1: Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [58]:
def kelvintocelsius(input):
    """function that converts Kelvin to Celsius"""
    value=input-273.15
    return value

def celsiustokelvin(input):
    """function that converts Celsius to Kelvin"""
    value=input+273.15
    return value

### Question 2: Write a function to convert temperature to fahrenheit

In [50]:
def kelvincelsiustoF(temp,type):
    """function that converts K or C to F. Input the temperature and type (C or K) which depend on your input"""
    if type == 'K': # where your value is in Kelvins
        ctemp=kelvintocelsius(temp)
    elif type == 'C':
        ctemp=temp
    else:
        raise ValueError('Put C or K as type.')

    F=((9/5)*ctemp)+32
    return F

### Question 3: Check that the outputs are sensible 
by trying a few examples

In [61]:
kelvincelsiustoF(0,'C')

32.0

In [60]:
kelvincelsiustoF(273.15,'K')

32.0

### Question 4: Now write a function that converts from farenheit 
and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [63]:
def farenheittoKC (temp,type):
    """function that converts F to C or K. Input the temperature and type (C or K) for your output of choice"""
    ctemp=(5/9)*(temp-32)
    if type == 'K':
        outtemp=celsiustokelvin(ctemp)
    elif type == 'C':
        outtemp = ctemp
    else:
        raise ValueError('Put C or K as type.')
    return outtemp

### Question 5: Write a function that takes two arguments (feet and inches) and returns height in meters. Verify it gives sensible answers

In [67]:
def ftinchtometers(ft,inch):
    meters=(ft/3.281)+(inch/39.37)
    return meters

In [92]:
ftinchtometers(5,10)

1.7779261404301536

### Question 6: Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [83]:
def meterstoftinch(meters):
    ft=meters*3.281
    wholeft=round(ft)
    metersinch=ft-wholeft
    if metersinch < 0:
        wholeft=wholeft-1
        metersinch=ft-wholeft
        inch=metersinch*12
    elif metersinch >= 0:
        inch=metersinch*12
        
    return wholeft,inch

### Question 7: Verify that the “round trip” conversion from and back to meters is consistent. Check for 3 different values of height in meters

In [100]:
test1ft, test1inch=meterstoftinch(1.83)
outtest1=ftinchtometers(test1ft, test1inch)
print(outtest1)

test2ft, test2inch=meterstoftinch(1.9)
outtest2=ftinchtometers(test2ft, test2inch)
print(outtest2)

test3ft, test3inch=meterstoftinch(1.65)
outtest3=ftinchtometers(test3ft, test3inch)
print(outtest3)

1.8300000654935782
1.9000036215006901
1.6500064045906817